@model KindAds.Negocio.ViewModels.KindAdsV2.AudienceChannelViewModel
@{
  var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<h2>Aweber</h2>

<div class="form-group">
  @Html.Label("Input your AWeber Autorization Code", htmlAttributes: new { @class = "control-label" })
  <p>Learn how to do this by clicking <a class="link" href="@Url.Action("AWeberHelp", "Support")" target="_blank">here</a></p>
  <div class="partialContents" data-url="/@culture/Channel/GetLinkAweberAuthentication">
    <img src="~/Img/Loader/loading.white.gif" />
  </div>
  <div class="inline-group">
    @Html.TextBoxFor(model => model.emailProductForm.aweberForm.ApiToken, new { @placeholder = "e.g. Your Autorization token ", @class = "form-control", @required = "true", @data_msg_required = "Code is required", @maxlength = 500 })
    <div id="btnValidateProvider" class="btn btn-default btn-lg" onclick="ValidateProvider();">Sync</div>
  </div>
</div>

<!-- Seccion de formulario escondido -->
<div id="aweberCompleteForm" style="display:none">

  @*<div class="form-group">
      @Html.Label("Name", htmlAttributes: new { @class = "control-label" })
      @Html.TextBoxFor(model => model.emailProductForm.getResponseForm.Name, new { @placeholder = "e.g. Name ", @class = "form-control", @required = "true", @data_msg_required = "Name is required", @maxlength = 60 })
    </div>*@

  <!-- Seccion de From field -->
  <!-- obtenemos la informacion -->
  @*<div class="form-group">
    @Html.Label("From Field", htmlAttributes: new { @class = "control-label" })
    @Html.DropDownListFor(model => model.emailProductForm.getResponseForm.FromFieldId, new SelectList(string.Empty, "Value", "Text"), "Please select", new { @class = "form-control dropdown", @required = "true", @data_msg_required = "Folders is required" })
  </div>*@


  <!-- Seccion de listas -->
  <!-- obtenemos la informacion -->
  <div class="form-group">
    @Html.Label("Lists", htmlAttributes: new { @class = "control-label" })
    @Html.DropDownListFor(model => model.emailProductForm.aweberForm.ListId, new SelectList(string.Empty, "Value", "Text"), "Please select", new { @class = "form-control dropdown", @required = "true", @data_msg_required = "List is required" })
    <div class="main-data-number">
      (&nbsp;<span id="lblSubscribers">&nbsp;</span>&nbsp;<small>subscribers</small>&nbsp;)
    </div>
  </div>


</div>

<script type="text/javascript">

  $("#emailProductForm_aweberForm_ListId").change(function () {
    GetSubscribers();
  });

  var ApiKeyIsValid = false;

  function ValidateProvider() {
    $('#processingModal').modal('show');

    var apiToken = $("#emailProductForm_aweberForm_ApiToken").val();

    var requestData = {
      ApiToken: apiToken,
      ChannelId: 'b4ee7512-5f12-40f1-8408-8f96bf43df6d',
      ProviderId: '74679a58-e03f-470e-abc8-953c6b2ff79a'
    };

    $.ajax({
      url: "ValidateProvider",
      type: "Post",
      data: { request: requestData },
      success: function (response) {

        $('#processingModal').modal('hide');
        ApiKeyIsValid = response.IsValid;

        if (ApiKeyIsValid == 'True') {

          $("#aweberCompleteForm").show();
          $("#btnValidateProvider").hide();

          document.getElementById("emailProductForm_aweberForm_ApiToken").readOnly = true;
          $("#hiddenIsValidApiKey").val(true);

          FillList();
        }
        else {
          $('#processingModal').modal('hide');

          alert("Api key is not valid");
          $("#aweberCompleteForm").hide();
          $("#btnValidateProvider").show();
        }

      },
      error: function (xhr, error, status) {

      }
    });
  }

  function FillList() {
    $("#emailProductForm_aweberForm_ListId").empty();
          $.ajax({
              type: 'POST',
              url: '@Url.Action("GetListAweber")',
              dataType: 'json',
              success: function (elements) {
                if (elements != null && elements != '') {
                  $("#emailProductForm_aweberForm_ListId").append('<option value="">' + 'Please select' + '</option>');
                  $.each(elements, function (i, state) {
                    $("#emailProductForm_aweberForm_ListId").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                  });
                } else {
                  $("#emailProductForm_aweberForm_ListId").append('<option value="">' + 'Please select' + '</option>');
                }
              },
              error: function (ex) {
                  alert('Failed to retrieve list from aweber.' + ex);
              }
          });
  }

  function GetSubscribers() {
      $.ajax({
          type: 'POST',
          url: '@Url.Action("GetNumberSubsAweber")',
          dataType: 'json',
        data: { ListId: $("#emailProductForm_aweberForm_ListId").val()},
          success: function (result) {
            $("#lblSubscribers").text(result.CountSubscribers);
          },
          error: function (ex) {
            alert('Failed to retrieve segment from campaign monitor.' + ex);
          }
      });
  }


</script>

<script>
  var site = site || {};
  site.baseUrl = site.baseUrl || "";
  $(document).ready(function (e) {
    $(".partialContents").each(function (index, item) {
      var url = site.baseUrl + $(item).data("url");
      if (url && url.length > 0) {
        $(item).load(url);
      }
    });

  });
</script>
