@model KindAds.Negocio.ViewModels.KindAdsV2.AudienceChannelViewModel

<br />
<h1>MailJet</h1>

<div class="form-group">
  @Html.Label("API", htmlAttributes: new { @class = "control-label" })
  @Html.TextBoxFor(model => model.emailProductForm.mailJetForm.ApiToken, new { @placeholder = "e.g. Your Api token ", @class = "form-control", @required = "true", @data_msg_required = "API token is required", @maxlength = 60 })
</div>

<div class="form-group">
  @Html.Label("Secret Key", htmlAttributes: new { @class = "control-label" })
  @Html.TextBoxFor(model => model.emailProductForm.mailJetForm.SecretKey, new { @placeholder = "e.g. Secret Key ", @class = "form-control", @required = "true", @data_msg_required = "Secret Key is required", @maxlength = 60 })
</div>

<div class="form-group">
  <div id="btnValidateProvider" class="btn btn-default btn-lg" onclick="ValidateProvider();">Validate</div>
</div>


<!-- Seccion de formulario escondido -->
<div id="mailJetCompleteForm" style="display:none">

  @*<div class="form-group">
    @Html.Label("Name", htmlAttributes: new { @class = "control-label" })
    @Html.TextBoxFor(model => model.emailProductForm.mailJetForm.Name, new { @placeholder = "e.g. Name ", @class = "form-control", @required = "true", @data_msg_required = "Name is required", @maxlength = 60 })
  </div>*@

  <!-- Seccion de listas -->
  <!-- obtenemos la informacion de: GetAppsFromOneSignal-->
  <div class="form-group">
    @Html.Label("Lists", htmlAttributes: new { @class = "control-label" })
    @Html.DropDownListFor(model => model.emailProductForm.mailJetForm.ListId, new SelectList(string.Empty, "Value", "Text"), "Please select", new { @class = "form-control dropdown", @required = "true", @data_msg_required = "Lists is required" })
  </div>

  <!-- Seccion de segmentos ids -->
  <!-- obtenemos la informacion de: GetAppsFromOneSignal-->
  <div class="form-group">
    @Html.Label("Segments", htmlAttributes: new { @class = "control-label" })
    @Html.DropDownListFor(model => model.emailProductForm.mailJetForm.Segment, new SelectList(string.Empty, "Value", "Text"), "Please select", new { @class = "form-control dropdown", @required = "true", @data_msg_required = "Segment is required" })
  </div>





</div>

<script type="text/javascript">

  var ApiKeyIsValid = false;

  function FillSegments(token, secret, callback, callbackError) {

    $("#emailProductForm_mailJetForm_Segment").empty();

          $.ajax({
              type: 'POST',
              url: '@Url.Action("GetSegmentsFromMailJet")',
              data: { ApiToken: token, SecretKey: secret },
              dataType: 'json',
              success: function (elements) {
                if (elements != null && elements != '') {
                  $("#emailProductForm_mailJetForm_Segment").append('<option value="">' + 'Please select' + '</option>');
                  $.each(elements, function (i, state) {
                    $("#emailProductForm_mailJetForm_Segment").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                  });
                } else {
                  $("#emailProductForm_mailJetForm_Segment").append('<option value="">' + 'Please select' + '</option>');
                }

                callback();
              },
            error: function (ex) {
                  callbackError();
                  alert('Failed to retrieve templates from mail chimp.' + ex);
              }
          });
  }

  function FillListas(token, secret, callback, callbackError) {

    $("#emailProductForm_mailJetForm_ListId").empty();

          $.ajax({
              type: 'POST',
              url: '@Url.Action("GetListFromMailJet")',
              data: { ApiToken: token, SecretKey: secret },
              dataType: 'json',
              success: function (elements) {
                if (elements != null && elements != '') {
                  $("#emailProductForm_mailJetForm_ListId").append('<option value="">' + 'Please select' + '</option>');
                  $.each(elements, function (i, state) {
                    $("#emailProductForm_mailJetForm_ListId").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                  });
                } else {
                  $("#emailProductForm_mailJetForm_ListId").append('<option value="">' + 'Please select' + '</option>');
                }

                callback();
              },
             error: function (ex) {
                  callbackError();
                  alert('Failed to retrieve templates from mail chimp.' + ex);
              }
          });
  }


  function ValidateProvider() {
    $('#processingModal').modal('show');
    
    var apiToken = $("#emailProductForm_mailJetForm_ApiToken").val();
    var secretKey = $("#emailProductForm_mailJetForm_SecretKey").val();

    var requestData = {
      ApiToken:apiToken,
      ChannelId:'b4ee7512-5f12-40f1-8408-8f96bf43df6d',
      ProviderId: 'fa7a4049-23f2-4485-b404-3c099b8740be',
      SecretKey: secretKey
    };

    $.ajax({
      url: "ValidateProvider",
      type: "Post",
      data: { request : requestData },
      success: function (response) {

       
        ApiKeyIsValid = response.IsValid;
        

        if (ApiKeyIsValid == 'True') {

          FillListas(apiToken, secretKey, function () {
            FillSegments(apiToken, secretKey, function () {
              $('#processingModal').modal('hide');

              //exitoso
              $("#mailJetCompleteForm").show();
              $("#btnValidateProvider").hide();

              document.getElementById("emailProductForm_mailJetForm_ApiToken").readOnly = true;
              document.getElementById("emailProductForm_mailJetForm_SecretKey").readOnly = true;
              $("#hiddenIsValidApiKey").val(true);
            }, function () {
              // en caso de error
              $('#processingModal').modal('hide');
            });
          }, function () {
            // en caso de error
            $('#processingModal').modal('hide');
          });

          
        }
        else {
          $('#processingModal').modal('hide');          
          alert("Api key is not valid");
          $("#mailJetCompleteForm").hide();
          $("#btnValidateProvider").show();
        }

      },
      error: function (xhr, error, status) {
        
      }
    });
  }

  

</script>
