@{
  ViewBag.Title = "Team";
  Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="team content-wrapper">
  <section class="hero bg-pattern">
    <div class="container-fluid">
      <div class="row info">
        <div class="col-sm-12">
          <h1>
            @Resource.Language.Home.Team.Resources.MainTitle
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="people">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <article>
            <ul class="card-items">
              <li class="card-item add">
                <div class="img">
                  <img src="~/Img/Home/Team/saulo-madeiros.jpg" alt="Saulo Medeiros" />
                </div>
                <div class="content">
                  <h3>Saulo Medeiros</h3>
                  <h5>CEO & CO-Founder</h5>
                  <p>@Resource.Language.Home.Team.Resources.SauloMedeiros_Bio</p>
                </div>
              </li>
              <li class="card-item even">
                <div class="img">
                  <img src="~/Img/Home/Team/rafael-mayrink.jpg" alt="Rafael Mayrink" />
                </div>
                <div class="content">
                  <h3>Rafael Mayrink</h3>
                  <h5>COO & Co-founder</h5>
                  <p>@Resource.Language.Home.Team.Resources.RafaelMayrink_Bio</p>
                </div>
              </li>
              <li class="card-item add">
                <div class="img">
                  <img src="~/Img/Home/Team/jaime-sanchez.jpg" alt="Jaime S&aacute;nchez" />
                </div>
                <div class="content">
                  <h3>Jaime S&aacute;nchez</h3>
                  <h5>CTO</h5>
                  <p>@Resource.Language.Home.Team.Resources.JaimeSanchez_Bio</p>
                </div>
              </li>
            </ul>

            <h3 class="subtitle">Advisors & Evangelists</h3>

            <ul class="card-items">
              <li class="card-item add">
                <div class="img">
                  <img src="~/Img/Home/Team/neil-patel.jpg" alt="Neil Patel" />
                </div>
                <div class="content">
                  <h3>Neil Patel</h3>
                  <p>@Resource.Language.Home.Team.Resources.NeilPatel_Bio</p>
                </div>
              </li>
              <li class="card-item even">
                <div class="img">
                  <img src="~/Img/Home/Team/saber-aria.jpg" alt="Saber Aria" />
                </div>
                <div class="content">
                  <h3>Saber Aria</h3>
                  <p>@Resource.Language.Home.Team.Resources.SaberAria_Bio</p>
                </div>
              </li>
              <li class="card-item add">
                <div class="img">
                  <img src="~/Img/Home/Team/trevor-koverko.jpg" alt="Trevor Koverko" />
                </div>
                <div class="content">
                  <h3>Trevor Koverko</h3>
                  <p>@Resource.Language.Home.Team.Resources.TrevorKoverko_Bio</p>
                </div>
              </li>
              <li class="card-item even">
                <div class="img">
                  <img src="~/Img/Home/Team/nadav-dakner.jpg" alt="Nadav Dakner" />
                </div>
                <div class="content">
                  <h3>Nadav Dakner</h3>
                  <p>@Resource.Language.Home.Team.Resources.NadavDakner_Bio</p>
                </div>
              </li>
              <li class="card-item add">
                <div class="img">
                  <img src="~/Img/Home/Team/jay-westerdal.jpg" alt="Jay Westerdal" />
                </div>
                <div class="content">
                  <h3>Jay Westerdal</h3>
                  <p>@Resource.Language.Home.Team.Resources.JayWesterdal_Bio</p>
                </div>
              </li>
              <li class="card-item even">
                <div class="img">
                  <img src="~/Img/Home/Team/jonathan-cronstedt.jpg" alt="Jonathan Cronstedt" />
                </div>
                <div class="content">
                  <h3>Jonathan Cronstedt</h3>
                  <p>@Resource.Language.Home.Team.Resources.JonathanCronstedt_Bio</p>
                </div>
              </li>
              <li class="card-item add">
                <div class="img">
                  <img src="~/Img/Home/Team/eric-siu.jpg" alt="Eric Siu" />
                </div>
                <div class="content">
                  <h3>Eric Siu</h3>
                  <p>@Resource.Language.Home.Team.Resources.EricSiu_Bio</p>
                </div>
              </li>
              <li class="card-item even">
                <div class="img">
                  <img src="~/Img/Home/Team/caio-beleza.jpg" alt="Caio Beleza" />
                </div>
                <div class="content">
                  <h3>Caio Beleza</h3>
                  <p>@Resource.Language.Home.Team.Resources.CaioBeleza_Bio</p>
                </div>
              </li>
            </ul>

            <h3 class="subtitle">The Core Team</h3>

            <ul class="card-items">
              <li class="card-item add">
                <div class="img">
                  <img src="~/Img/Home/Team/enrique-chavez.jpg" alt="Enrique Ch&aacute;vez" />
                </div>
                <div class="content">
                  <h3>Enrique Ch&aacute;vez</h3>
                  <h5>Lead Developer</h5>
                  <p>@Resource.Language.Home.Team.Resources.EnriqueChavez_Bio</p>
                </div>
              </li>
              <li class="card-item even">
                <div class="img">
                  <img src="~/Img/Home/Team/keith-linder.jpg" alt="Keith Lindner" />
                </div>
                <div class="content">
                  <h3>Keith Lindner</h3>
                  <h5>Product Manager</h5>
                  <p>@Resource.Language.Home.Team.Resources.KeithLindner_Bio</p>
                </div>
              </li>
              <li class="card-item add">
                <div class="img">
                  <img src="~/Img/Home/Team/jason-caldwell.jpg" alt="Jason Caldwell" />
                </div>
                <div class="content">
                  <h3>Jason Caldwell</h3>
                  <h5>Web Designer</h5>
                  <p>@Resource.Language.Home.Team.Resources.JasonCaldwell_Bio</p>
                </div>
              </li>
              <li class="card-item even">
                <div class="img">
                  <img src="~/Img/Home/Team/jeremy-hood.jpg" alt="Jeremy Hood" />
                </div>
                <div class="content">
                  <h3>Jeremy Hood</h3>
                  <h5>Operations Manager</h5>
                  <p>@Resource.Language.Home.Team.Resources.JeremyHood_Bio</p>
                </div>
              </li>
              <li class="card-item add">
                <div class="img">
                  <img src="~/Img/Home/Team/vasil-azarov.jpg" alt="Vasil Azarov" />
                </div>
                <div class="content">
                  <h3>Vasil Azarov</h3>
                  <h5>Growth Manager</h5>
                  <p>@Resource.Language.Home.Team.Resources.VasilAzarov_Bio</p>
                </div>
              </li>
              <li class="card-item even">
                <div class="img">
                  <img src="~/Img/Home/Team/leury-pichardo.jpg" alt="Leury Pichardo" />
                </div>
                <div class="content">
                  <h3>Leury Pichardo</h3>
                  <h5>Marketing Manager</h5>
                  <p>@Resource.Language.Home.Team.Resources.LeuryPichardo_Bio</p>
                </div>
              </li>
              <li class="card-item add">
                <div class="img">
                  <img src="~/Img/Home/Team/ken-robets.jpg" alt="Ken Roberts" />
                </div>
                <div class="content">
                  <h3>Ken Roberts</h3>
                  <h5>Director of M&A & Partnerships</h5>
                  <p>@Resource.Language.Home.Team.Resources.KenRoberts_Bio</p>
                </div>
              </li>
              <li class="card-item even">
                <div class="img">
                  <img src="~/Img/Home/Team/quinn-huffman.jpg" alt="Quinn Huffman" />
                </div>
                <div class="content">
                  <h3>Quinn Huffman</h3>
                  <h5>Investor Relations</h5>
                  <p>@Resource.Language.Home.Team.Resources.QuinnHuffman_Bio</p>
                </div>
              </li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>

@section Scripts {

}
