@model KindAds.Models.Access.RecoverPasswordViewModel
@{
  ViewBag.Title = "Recover Password";
  Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@section Head {
  @Styles.Render("~/Content/kaUI_pages.css")
}

<div class="sign content-wrapper" ">
  <section class="hero bg-pattern">
    <div class="container-fluid">
      <div class="row info">
        <div class="col-12">
          <h1>
            Recover Password
          </h1>
        </div>
      </div>
    </div>
  </section>
  <section class="form-layout">
    <div class="container-fluid">
      <div class="row">
        <div class="sign-wrapper extended">
          <div class="content">
            @using (Html.BeginForm("RecoverPassword", "Access", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
              @Html.AntiForgeryToken()
              <article class="form-data">
                <form>
                  <fieldset>
                    <div class="form-container">
                      <div class="row">
                        <div class="col-12 form-group">
                          <h3>
                            Please enter your email address.
                          </h3>
                          <p>
                            You will receive a link to create a new password.
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 form-group clearfix">
                          @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", @class = "form-control clean" })
                          @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 form-group simple">
                          <input type="submit" class="btn btn-primary btn-lg" value="Reset password" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 form-group help-links">
                          @Html.ActionLink("Back to login", "Login", "Access")
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </article>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

@section Scripts {
}
