<!DOCTYPE html>
<html lang="@captivate_express_webapp.Helpers.CultureHelper.GetCurrentNeutralCulture()" dir="@(captivate_express_webapp.Helpers.CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>@ViewBag.Title | Kind Ads</title>
  <link rel="shortcut icon" href="~/favicon.ico">
  <link rel="apple-touch-icon" href="~/Img/favicon/apple-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Img/favicon/apple-icon-144x144.png">
  <link rel="icon" type="image/png" sizes="144x144" href="~/Img/favicon/android-icon-144x144.png">
  <link rel="icon" type="image/png" sizes="16x16" href="~/Img/favicon/favicon-16x16.png">
  <meta name="application-name" content="&amp;amp;nbsp;">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="~/Img/favicon/ms-icon-144x144.png">
  @Styles.Render("~/Content/vendor/bootstrap.min.css")
  @Styles.Render("~/Content/tkatUI.css")
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  @{
    var culture = captivate_express_webapp.Helpers.CultureHelper.GetCurrentNeutralCulture();
  }
</head>
<body>
  <div class="wrapper" role="main" id="top">
    <div class="header navbar-public">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="navbar-header">
              <button class="navbar-toggle collapsed" role="button" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Menu</span>
                <div class="pull-left">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar last"></span>
                </div>
              </button>
              <a class="navbar-brand" href="@Url.Action("Home", "Home")" title="Kind Ads">
                <img class="img-responsive" data-no-retina="true" src="~/Img/UI/logo-full-white.png">
              </a>
            </div>

            <nav class="collapse navbar-collapse" role="navigation" aria-expanded="false" id="navbar-collapse">
              <ul class="nav navbar-nav flexbox">
                <li class="language">
                  @Html.Partial("_LanguageSelectPartial")
                </li>
                <li>
                  @Html.ActionLink("Sign In", "Login", "Access")
                </li>
                <li>
                  @Html.ActionLink("Sign Up", "CreateAccount", "Access", null, new { @class = "primary" })
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content static">
      @RenderBody()

      <section class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3">
              <img class="logo img-responsive" data-no-retina="true" src="~/Img/UI/logo-full-white.png" alt="KindAds Logo" />
            </div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-3">
                  <h4>COMPANY</h4>
                  <ul>
                    <li>
                      @Html.ActionLink("Team", "Team", "Home", new { culture = culture }, new {culture = culture })
                    </li>
                    <li>
                      <a target="_blank" href="~/Content/kind-ads-whitepaper.pdf">White Paper</a>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <h4>RESOURCES</h4>
                  <ul>
                    <li>
                      <a class="disabled">Quick help</a>
                    </li>
                    <li>
                      @Html.ActionLink("FAQ", "Faq", "Home", new { culture = culture }, new { culture = culture })
                    </li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <h4>INTEGRATIONS</h4>
                  <ul>
                    <li>
                      <a href="https://subscribers.com" target="_blank">Subscribers</a>
                    </li>
                    <li>
                      <a href="https://mailchimp.com" target="_blank">Mailchimp</a>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <h4>CONTACT</h4>
                  <ul>
                    <li>
                      <a class="disabled" mailto="hello@kindads.io">hello@kindads.io</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="legals">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                &#169; 2018 KInd Ads. All rights reserved.
              </div>
              <div class="col-sm-6">
                <ul class="social">
                  <li>
                    <a href="https://twitter.com/KindAdsNetwork" target="_blank" alt="Kind Ads Twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://t.me/kindads" target="_blank" alt="Kind Ads Telegram">
                      <i class="fa fa-telegram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/kindads/platform" target="_blank" alt="Kind Ads Github">
                      <i class="fa fa-github"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://kindads.io/Content/kind-ads-whitepaper.pdf" target="_blank" alt="Kind Ads Whitepaper">
                      <i class="fa fa-file-text-o"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="legals">
        Copyright &#169; 2018 The Leadchain Foundation. All rights reserved.
      </div>
    </div>
  </div>

  @Scripts.Render("~/bundles/basejs")
  <!-- Culture Languages -->
  <script src="~/Modules/languageModule.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      languageModule.bindingForm();
    });
  </script>
  @RenderSection("Scripts", required: true)
  <!-- GTA -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114897255-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-114897255-1');
  </script>
  @*
  <!-- GA -->
  <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-114655123-1', 'auto');
      ga('send', 'pageview');
    </script>
  *@
</body>
</html>
