@using captivate_express_webapp.Models.Access
@model CreateAccountViewModel
@{
  ViewBag.Title = "Create an Account";
  Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="title">
  <div class="logo-mobile">
    <a href="@Url.Action("Home", "Access")">
      <img src="../Img/UI/Logo-White.png">
    </a>
  </div>
  <h1>Create an Account</h1>
</div>

@using (Html.BeginForm("CreateAccount", "Access", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {@id = "formCreateAccount" }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })

  <article class="form-data container-fluid">
    <form>
      <fieldset>
        <div class="row">
          <div class="col-sm-12 form-group simple clearfix">
            <i class="kas kas-icon-name"></i>
            @Html.TextBoxFor(model => model.Name, new { placeholder = Resources.NAME, @class = "form-control clean", @required = "true", @data_msg_required = "Name is required" })
            @Html.ValidationMessageFor(model => model.Name, "")
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group simple clearfix">
            <i class="kas kas-icon-email"></i>
            @Html.TextBoxFor(model => model.Email, new { placeholder = Resources.EMAIL, @class = "form-control clean", @required = "true", @data_msg_required = "Email is required" })
            @Html.ValidationMessageFor(model => model.Email, "")
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group simple clearfix">
            <i class="kas kas-icon-password"></i>
            @Html.PasswordFor(model => model.Password, new { placeholder = Resources.PASSWORD, @class = "form-control clean", @required = "true", @data_msg_required = "Password is required" })
            @Html.ValidationMessageFor(model => model.Password, "")
          </div>
        </div>
        <div class="row role">
          <div class="col-sm-12">
            <div class="form-group simple">
              <label class="label">ROLE</label>
              @Html.DropDownListFor(model => model.Role, Session["roles"] as SelectList, new { @class = "select form-control", @required = "true", @data_msg_required = "Role is required" })
            </div>
          </div>
        </div>

        <div class="row role">
          <div class="col-sm-12">
            <div class="form-group simple checkbox">
              <label id="eula">
                Agree&nbsp;<a class="link" href="/Access/TermsOfService" target="_blank">Terms of Service</a>&nbsp;and&nbsp;<a class="link" href="/Access/PrivacyPolicy" target="_blank">Privacy policy</a>
                @Html.CheckBoxFor(model => model.AgreeTerms)
                <div class="control_indicator"></div>
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group simple">
            <div class="text-center">
              <input type="submit" class="btn btn-default btn-rounded btn-lg" value="@Resources.CREATE" />
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </article>

}


<div class="col-sm-12">
  <ul class="last clearfix">
    <li style="float:none; text-align:center;">
      <span>Already have an account,&nbsp;</span>
      @Html.ActionLink("SIGN IN", "Login", "Access")
    </li>
    <li>
      @*@Html.ActionLink(Resources.SIGN_UP, "Login", "Access")*@
    </li>
  </ul>
</div>

@Scripts.Render("~/bundles/customjs")
<script type="text/javascript">
  $('#formCreateAccount').submit(function (e) {
    if (!$("#formCreateAccount").valid()) {
      e.preventDefault();
    }
  });
</script>
<script type="text/javascript">
  $().ready(function () {
    $("#formCreateAccount").validate();
  });
</script>
