@model captivate_express_webapp.Models.Access.LoginViewModel
@{
  ViewBag.Title = "Login";
  Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="title">
  <div class="logo-mobile">
    <a href="@Url.Action("Home", "Home")"><img src="~/Img/UI/Logo-White.png"></a>
  </div>
  <h1>Create an Account</h1>

</div>

@using (Html.BeginForm("Login", "Access", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "formLogin" }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })

  <article class="form-data container-fluid">
    <form>
      <fieldset>
        @*Html.LabelFor(model => model.TestLanguage, new { @class = "control-label col-md-2" })*@
       
        <div class="row">
          <div class="col-sm-12 form-group simple clearfix">
            <i class="kas kas-icon-email"></i>
            @Html.TextBoxFor(model => model.Email, new { placeholder = Resources.EMAIL, @class = "form-control clean", @required = "true", @data_msg_required = "Email is required" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger1" })
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group simple clearfix">
            <i class="kas kas-icon-password"></i>
            @Html.PasswordFor(model => model.Password, new { placeholder = Resources.PASSWORD, @class = "form-control clean", @required = "true", @data_msg_required = "Password is required" })
            @Html.ValidationMessageFor(model => model.Password, "")
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group simple">
            <div class="text-center">
              <input type="submit" class="btn btn-default btn-rounded btn-lg" value="@Resources.LOGIN" />
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </article>
}

<div class="col-sm-12">
  <ul class="last clearfix">
    <li>
      @Html.ActionLink(Resources.FORGOT_PASSWORD, "RecoverPassword", "Access")
    </li>
    <li>
      @Html.ActionLink(Resources.SIGN_UP, "CreateAccount", "Access")
    </li>
  </ul>
</div>


@Scripts.Render("~/bundles/customjs")
@*@Scripts.Render("~/Modules/languageModule.js")*@
<script type="text/javascript">
  $('#formLogin').submit(function (e) {
    if (!$("#formLogin").valid()) {
      e.preventDefault();
    }
  });
</script>
<script type="text/javascript">
  $().ready(function () {
    $("#formLogin").validate();
  });
</script>




