@model captivate_express_webapp.Models.Access.RecoverPasswordViewModel
@{
  ViewBag.Title = "Recover Password";
  Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="title">
  <div class="logo-mobile">
    <a href="@Url.Action("Home", "Access")">
      <img src="../Img/UI/Logo-White.png">
    </a>
  </div>
  <h1>Recover Password</h1>
</div>

@using (Html.BeginForm("RecoverPassword", "Access", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
  @Html.AntiForgeryToken()

  <article class="form-data container-fluid">
    <form>
      <fieldset>
        <div class="row">
          <div class="col-xs-9 col-xs-offset-2 form-group">
            <p>
              Please enter your email address.
              You will receive a link to create a new password.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group simple clearfix">
            <i class="kas kas-icon-email"></i>
            @Html.TextBoxFor(model => model.Email, new { placeholder = Resources.EMAIL, @class = "form-control clean" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group simple">
            <div class="text-center">
              <input type="submit" class="btn btn-default btn-rounded btn-lg" value="@Resources.RESET_PASSWORD" />
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </article>

  <div class="col-sm-12">
    <ul class="last clearfix">
      <li>
        @Html.ActionLink("Back to LOGIN", "Login", "Access")
      </li>
      <li>

      </li>
    </ul>
  </div>
}
