@model captivate_express_webapp.Models.Access.VerifyAccountViewModel
@{
    ViewBag.Title = "Verify your Account";
}

<h2>Verify your Account</h2>

@using (Html.BeginForm("VerifyAccount", "Access", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4 form-group">
            <p>@Resources.SEND_TEXT_CODE</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-group">
            @Html.TextBoxFor(model => model.Code, new { placeholder = Resources.ENTER_CODE, @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-group">
            <input type="submit" class="btn btn-lg btn-success btn-block" value="@Resources.VERIFY" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-group">
            @Html.ActionLink(Resources.RESEND_CODE, "", "")
        </div>
    </div>

}
