@model Captivate.Common.Models.ViewModel.SiteViewModel
@{
  ViewBag.Title = "Validate your Site";
  Layout = "~/Views/Shared/_PublisherLayout.cshtml";
}


@using (Html.BeginForm("VerifySite", "Site", null, FormMethod.Post, new { @id = "formValidateSite" }))
{
  @Html.AntiForgeryToken()

  <!--Form SiteViewModel data-->
  @Html.HiddenFor(m => m.IdSite, new { id = "IdSite" });
  @Html.HiddenFor(m => m.type, new { id="TypeValidation" });
  @Html.HiddenFor(m => m.gtm.Token, new { id = "GtmToken" });

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 main-bar">
        <h1 class="title">Validate your site</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="SiteNoVerify">
          <div class="white-block">
            <div class="form-data form-horizontal">
              <div class="body-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      @Html.Label("Site", htmlAttributes: new { @class = "control-label col-sm-3" })
                      <div class="col-sm-9 form-inline">
                        @Html.Label("", Model.URL, new { @class = "form-control verify-site" })
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Azure AD Form -->
                <div id="AzureForm" style="display:none">
                  <!--AppKey-->
                  <div class="form-group">
                    @Html.LabelFor(model => model.ad.AppKey, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9 form-inline">
                      @Html.TextBoxFor(model => model.ad.AppKey, new { @class = "form-control" })
                      @Html.ValidationMessageFor(model => model.ad.AppKey)
                    </div>
                  </div>

                  <!--Client App Id-->
                  <div class="form-group">
                    @Html.LabelFor(model => model.ad.ClientAppId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9 form-inline">
                      @Html.TextBoxFor(model => model.ad.ClientAppId, new { @class = "form-control" })
                      @Html.ValidationMessageFor(model => model.ad.ClientAppId)
                    </div>
                  </div>

                  <!--Subscription Id-->
                  <div class="form-group">
                    @Html.LabelFor(model => model.ad.SubscriptionId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9 form-inline">
                      @Html.TextBoxFor(model => model.ad.SubscriptionId, new { @class = "form-control" })
                      @Html.ValidationMessageFor(model => model.ad.SubscriptionId)
                    </div>
                  </div>
                  <!--Tenant Id-->
                  <div class="form-group">
                    @Html.LabelFor(model => model.ad.TenantId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9 form-inline">
                      @Html.TextBoxFor(model => model.ad.TenantId, new { @class = "form-control" })
                      @Html.ValidationMessageFor(model => model.ad.TenantId)
                    </div>
                  </div>

                </div>


                <div class="row">
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <input id="VerifySite" value="Verify site" type="submit" class="btn btn-primary btn-lg" />
                    </div>
                  </div>
                  <div class="add-space s2x"></div>
                </div>

                <div class="heading">
                  <h2 onclick="siteModule.goBackSiteValidation();">Choose a verify site option
                    <span id="validateChooseOptionBack" style="display:none">
                      <i class="fa fa-long-arrow-left" onclick="siteModule.goBackSiteValidation();"></i>
                    </span>
                  </h2>
                </div>

                <!--Site validation -->
                <div id="siteValidationOptions">
                  
                  <div class="body-content">
                    <div class="row">
                      <!-- Azure option -->
                      <div class="col-sm-4" style="display:none;">
                        <div class="panel panel-info">
                          <h3 class="title">Via Google Tag Manager</h3>
                          <div class="body-content">
                            <p>
                              Validate with your ID client from Azure
                            </p>
                            <div class="text-center">
                              <a class="btn btn-primary" onclick="siteModule.chooseValidation(1);">Select</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- GTM option -->
                      <div class="col-sm-6">
                        <div class="panel panel-info">
                          <h3 class="title">Via Google Tag Manager</h3>
                          <div class="body-content">
                            <p>
                              Insert the code using Google Tag Manager
                            </p>
                            <div class="text-center">
                              <a class="btn btn-default" onclick="siteModule.chooseValidation(2);">Select</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Txt option-->
                      <div class="col-sm-6">
                        <div class="panel panel-info">
                          <h3 class="title">Via text file</h3>
                          <div class="body-content">
                            <p>
                              Insert the code using Google Tag Manager
                            </p>
                            <div class="text-center">
                              <a class="btn btn-default" onclick="siteModule.chooseValidation(3);">Select</a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <!--Description-->
                <div class="body-content">
                  <div class="row">
                    <!--Descripcion Azure -->
                    <div class="col-sm-12" id="descriptionAzure" style="display:none">
                      <div class="panel panel-info">
                        <div class="heading bold">
                          <h2>Via Txt</h2>
                        </div>
                        <div class="body-content">
                          <div class="info clearfix">
                            <img class="image-logo col-sm-2" src="~/Img/UI/logo-init.png" alt="Kind Ads" />
                            <ul class="col-sm-10">
                              <li>-Validate with your <strong>ID client</strong> from Azure</li>
                            </ul>
                          </div>
                          <div class="text-center ">
                          </div>
                        </div>

                        <div class="panel-body">
                          <div class="clearfix">
                            <div class="heading bold">
                              <h2>Via Azure</h2>
                            </div>
                            <br />
                            <ul class="col-sm-12 text-left">
                              <li> Validate with your ID client from Azure</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--Descripcion Google Tag Manager-->
                    <div class="col-sm-12" id="descripcionGoogleTagManager" style="display:none">
                      <div class="panel panel-info">
                        <div class="heading bold">
                          <h2>Via Script</h2>
                        </div>
                        <div class="body-content">
                          <div class="info clearfix">
                            <img class="image-logo col-sm-2" src="~/Img/UI/logo-init.png" alt="Kind Ads" />
                            <ul class="col-sm-10">
                              <li>-Copy the content of the <strong>Script File</strong> into Google Tag Manager</li>
                              <li>-Publish script using Google Tag Manager</li>
                              <li>-Wait for 2 minutes before to clic <strong>Verify Site</strong> button (GTM can be a delay to update script).</li>
                            </ul>
                          </div>
                          <div class="text-center ">
                            @Html.ActionLink("Download script", "DownloadScriptSite", "Site", new { IdSite = Model.IdSite }, new { @class = "btn btn-primary" })
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--Descripcion de Txt-->
                    <div class="col-sm-12" id="descripcionTxt" style="display:none">
                      <div class="panel panel-info">
                        <div class="heading bold">
                          <h2>Via Txt</h2>
                        </div>

                        <div class="body-content">
                          <div class="info clearfix">
                            <img class="image-logo col-sm-2" src="~/Img/UI/logo-init.png" alt="Kind Ads" />
                            <ul class="col-sm-10">
                              <li>-Download <strong>kindads.txt</strong></li>
                              <li>-Put <strong>kindads.txt</strong> at root on your site</li>
                            </ul>
                          </div>
                          <div class="text-center ">
                            @Html.ActionLink("Download file", "DownloadFileSite", "Site", new { IdSite = Model.IdSite }, new { @class = "btn btn-primary" })
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="add-space btn-group">
            @Html.ActionLink("I'll verify later", "ShowSites", "Site", new { @class = "btn btn-default" })
          </div>
        </div>

        <div id="SiteVerify" style="display:block">
          <div id="SiteVerifyFailure" style="display:none">
            <div class="white-block">
              <div class="form-data form-horizontal">
                <div class="body-content">
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <div class="col-md-offset-3 col-md-9 form-inline">
                        @Html.Label("", Model.URL, new { @class = "form-control verify-site" })
                        <div class="text-danger">
                          Verification failure, please go back and follow instructions
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 form-group">
                      <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-default" onclick="siteModule.goBack()">Go Back</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div id="SiteVerifySuccess" style="display:none">
            <div class="white-block">
              <div class="body-content text-center">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="col-md-12 form-inline">
                      @Html.Label("", Model.URL, new { @class = "form-control verify-site" })
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-offset-2 col-sm-8 panel panel-info">
                <div class="panel-body text-center">
                  <h3>
                    CONGRATULATIONS
                    <small>Your site has been verified</small>
                  </h3>
                  <div class="circle">
                    <img class="image-logo" src="../Img/UI/approved-arrow.png" alt="Verified" />
                  </div>
                </div>
              </div>

              <div class="text-center">
                @Html.ActionLink("View my sites", "ShowSites", "Site", new { @class = "btn btn-primary" })
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@Scripts.Render("~/bundles/customjs")
<script src="~/Modules/siteModule.js"></script>
<script type="text/javascript">
  $('.link-dashboard').addClass('active');
  siteModule.bindingFormSite();
</script>
