@model captivate_express_webapp.Models.SITE
@{
  ViewBag.Title = "Validate your Site";
  Layout = "~/Views/Shared/_PublisherLayout.cshtml";
}


@using (Html.BeginForm("VerifySite", "Site", null, FormMethod.Post, new { @id = "formValidateSite" }))
{
  @Html.AntiForgeryToken()

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 main-bar">
      <h1 class="title">Validate your site</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="SiteNoVerify">
        <div class="white-block">
          <div class="form-data form-horizontal">
            <div class="body-content">
              <div class="row">
                <div class="col-md-12 form-group">
                  <div class="col-md-offset-3 col-md-9 form-inline">
                    @Html.Label("", Model.URL, new { @class = "form-control verify-site" })
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group">
                  <div class="col-md-offset-3 col-md-9">
                    <input id="VerifySite" value="Verify site" type="submit" class="btn btn-primary btn-lg" />
                    @*@Html.ActionLink("Verify site", "VerifySite", "Site", new { @class = "btn btn-primary" })*@
                  </div>
                </div>
              </div>
            </div>

            <div class="heading">
              <h2>Verify site instructions</h2>
            </div>

            <div class="body-content">
              <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                  <div class="panel panel-info">
                    <div class="panel-body">
                      <div class="clearfix">
                        <img class="image-logo col-sm-3" src="../Img/UI/logo-init.png" alt="Kind Ads" />
                        <ul class="col-sm-9">
                          <li>-Download <strong>kindads.txt</strong></li>
                          <li>-Put <strong>kindads.txt</strong> on your site</li>
                          <li>-Clic on the button (Verify site)</li>
                        </ul>
                      </div>
                      <div class="text-center ">
                        @Html.ActionLink("Download file", "DownloadFileSite", "Site", new { @class = "btn btn-primary" })
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="add-space btn-group">
          @*<a href="" class="btn btn-default" onclick="goBack();">I'll verify later</a>*@
          @Html.ActionLink("I'll verify later", "ShowSites", "Site",new {@class = "btn btn-default" })
        </div>
      </div>
      
      <div id="SiteVerify" style="display:block">
        <div id="SiteVerifyFailure" style="display:none">
          <div class="white-block">
            <div class="form-data form-horizontal">
              <div class="body-content">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="col-md-offset-3 col-md-9 form-inline">
                      @Html.Label("", Model.URL, new { @class = "form-control verify-site" })
                      <div class="text-danger">
                        Verification failure, please go back and follow instructions
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="col-md-offset-3 col-md-9">
                      <button class="btn btn-default" onclick="goBack()">Go Back</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div id="SiteVerifySuccess" style="display:none">
          <div class="white-block">
            <div class="body-content text-center">
              <div class="row">
                <div class="col-md-12 form-group">
                  <div class="col-md-12 form-inline">
                    @Html.Label("", Model.URL, new { @class = "form-control verify-site" })
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-offset-2 col-sm-8 panel panel-info">
              <div class="panel-body text-center">
                <h3>
                  CONGRATULATIONS
                  <small>Your site has been verified</small>
                </h3>
                <div class="circle">
                  <img class="image-logo" src="../Img/UI/approved-arrow.png" alt="Verified" />
                </div>
              </div>
            </div>

            <div class="text-center">
              @Html.ActionLink("View my sites", "ShowSites", "Site", new { @class = "btn btn-primary" })
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
}

@Scripts.Render("~/bundles/customjs")
<script type="text/javascript">
  $('#formValidateSite').submit(function (e) {
    e.preventDefault();
    $.ajax({
      url: this.action,
      type: this.method,
      cache: false,
      contentType: false,
      processData: false,
      success: function (response) {
        if (response.success) {
          $("#SiteVerify").show();
          $("#SiteNoVerify").hide();
          $("#SiteVerifySuccess").show();
          $("#SiteVerifyFailure").hide();
        } else {
          $("#SiteVerify").show();
          $("#SiteNoVerify").hide();
          $("#SiteVerifyFailure").show();
          $("#SiteVerifySuccess").hide();
        }

      },
      error: function (xhr, error, status) {
        $("#SiteVerify").show();
        $("#SiteNoVerify").hide();
        $("#SiteVerifyFailure").show();
        $("#SiteVerifySuccess").hide();
      }
    });
  });

  function goBack() {
    window.history.back();
  }
</script>
