@model captivate_express_webapp.Models.Advertiser.CreateCampaingModel
@{
  var displayFileUp = ViewBag.IsChannelMailChimp ? false : ViewBag.IsChannelSuscribers ? ViewBag.IsChannelSuscribers : ViewBag.IsChannelPushCrew ? ViewBag.IsChannelPushCrew : false;
  DateTime startDate = (Model != null && Model.StartDate != null) ? Model.StartDate : DateTime.Now;
  DateTime endDate = (Model != null && Model.EndDate != null) ? Model.EndDate : DateTime.Now;
}
<div class="form-group">
  @Html.LabelFor(model => model.TitleText)
  @Html.TextBoxFor(model => model.TitleText, new { @maxlength = 48, @placeholder = "My Title", @class = "form-control", @id = "TitleText", @required = "true", @data_msg_required = "Title is required" })
  @Html.ValidationMessageFor(model => model.TitleText, "", new { @class = "text-danger" })
</div>
@if (!ViewBag.IsChannelPushCrew)
{
  <div class="form-group">
    @Html.LabelFor(model => model.StartDate)
    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @required = "true", @data_msg_required = "Start date is required" }, @type = "date" })
  </div>
}
@*<div class="form-group">
    @Html.LabelFor(model => model.EndDate)
    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @required = "true", @data_msg_required = "End date is required" }, @type = "date" })
  </div>*@
@if (displayFileUp)
{
  @Html.Partial("_FileUp", Model)
}

@if (ViewBag.IsChannelMailChimp)
{
  <div id="pnlCampaignDataMailChimp">
    @Html.Partial("_MailChimpData", Model)
  </div>
}
else if (ViewBag.IsChannelSuscribers)
{
  <div class="pnlCampaignDataPushNotifications">
    @Html.Partial("_PushNotificationData", Model)
  </div>
}
else if (ViewBag.IsChannelPushCrew)
{
  <div class="pnlCampaignDataPushNotifications">
    @Html.Partial("_PushCrewData", Model)
  </div>
}
else if (ViewBag.IsChannelCampaignMonitor)
{
  <div class="pnlCampaignDataCampaignMonitor">
    @Html.Partial("_CampaignMonitorData", Model)
  </div>
}
else if (ViewBag.IsChannelAweber)
{
  <div class="pnlCampaignDataAweber">
    @Html.Partial("_AweberData", Model)
  </div>
}
else if (ViewBag.IsChannelSendGrid)
{
  <div class="pnlCampaignDataAweber">
    @Html.Partial("_SendGridData", Model)
  </div>
}
else if (ViewBag.IsChannelActiveCampaign)
{
  <div class="pnlCampaignDataAweber">
    @Html.Partial("_ActiveCampaignData", Model)
  </div>
}
else if (ViewBag.IsChannelGetResponse)
{
  <div class="pnlCampaignDataAweber">
    @Html.Partial("_GetResponseData", Model)
  </div>
}
