@model captivate_express_webapp.Models.Advertiser.CreateCampaingModel
@{
  ViewBag.Title = "Welcome Publisher | Kind Ads System";

  var _service = new captivate_express_webapp.Services.AccessService();
  var idUser = Microsoft.AspNet.Identity.IdentityExtensions.GetUserId(User.Identity);
  var displayActionValidate = ViewBag.toValidate == true ? "display:inline" : "display:none";
  var displayActionDetail = ViewBag.toValidate == false ? "display:inline" : "display:none";

  if (_service.ContainRoleUser(idUser, (int)captivate_express_webapp.Utils.Enums.Roles.Advertiser))
  {
    Layout = "~/Views/Shared/_AdvertiserLayout.cshtml";
  }
  else if (_service.ContainRoleUser(idUser, (int)captivate_express_webapp.Utils.Enums.Roles.Publisher))
  {
    Layout = "~/Views/Shared/_PublisherLayout.cshtml";
  }
}


@Html.HiddenFor(m => m.Product.Price, new { id = "ProductPrice" });



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 main-bar">
      <h1 class="title" onclick="goBack();">
        <span>
          <i class="fa fa-long-arrow-left"></i>
        </span>
        Approve campaign
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="white-block clearfix">
        <div class="heading">
          <h2>Approve campaign</h2>
        </div>

        <div class="body-content">
          <div class="row">
            <div class="col-md-6">
              @Html.Partial("_CampaignShowData", Model)
              <div id="pnlActionsValidate" style="@displayActionValidate">
                <div class="row">
                  <div class="col-md-12 form-group">
                    @using (Html.BeginForm("ValidateCampaign", "Campaign", null, FormMethod.Post, new { @id = "formValidateCampaign" }))
                    {
                      <input value="Approve campaign" type="submit" class="btn btn-primary" />
                    }
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    @using (Html.BeginForm("RejectCampaign", "Campaign", null, FormMethod.Post, new { @id = "formRejectCampaign" }))
                    {
                      <input value="Reject" type="submit" class="btn btn-default" />
                    }
                  </div>
                </div>
              </div>
              <div id="pnlActionsDetail" style="@displayActionDetail">
                <div class="row">
                  <div class="col-md-12 form-group">
                    @*<input value="Return" type="button" class="btn btn-primary" onclick="goBack();" />*@
                    @Html.ActionLink("Return", "SortCampaigns", "Campaign", new { @class = "btn btn-primary" })
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              @Html.Partial("_CampaignRevision", Model.ListCampaingMessageChat)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@Html.Partial("_AuthorizeCampaignModal", Model)
<div class="modal fade" id="modalReject" role="dialog" aria-labelledby="siteSucessModal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Campaign message<label id="lblTitle"></label></h4>
      </div>
      <div class="modal-body">
        <div class="panel">
          <div class="panel-body text-center">
            <form>
              <p><label id="lblBody"></label></p>
              <div class="add-space"></div>
              @*@Html.ActionLink("View all campaigns", "SortCampaigns", "Campaign", new { @class = "btn btn-default" })*@
              @Html.ActionLink("View all campaigns", "SortCampaigns", "Campaign", new { @class = "btn btn-primary" })
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="avatar-hint"></div>
      </div>
    </div>
  </div>
</div>
@Html.Partial("_LoadingCampaignModal", Model)
@Scripts.Render("~/bundles/customjs")

<script>
  $(function () {
    $('.link-campaign').addClass('active');

  });
</script>

<script src="~/Modules/metamaskModule.js"></script>
<script type="text/javascript">
  $('#formValidateCampaign').submit(function (e) {
    e.preventDefault();
    var idCampaign = @Html.Raw(Json.Encode(Model.IdCampaign));
    console.log(idCampaign);

    $('#loadingCampaignValidateModal').modal('show');

    // Nueva funcionalidad -------------------------------------------
    var ApiUrl = 'http://localhost:57265/api/';
    metaMask.init(ApiUrl);

    var price = $("#ProductPrice").val();
    console.log(">>> Price:" + price);

    var result = metaMask.currentBalanceEnough( price, idCampaign);
    if (result === 1) {
      metaMask.log(">> Is enough");
      metaMask.payCampaign(metaMask.sendCampaign(function () {
        $('#loadingCampaignValidateModal').modal('hide');
        $("#pnlCampaignModalSuccesMsg").hide();
        $("#pnlCampaignModalErrorMsg").hide();
        $("#pnlActionsDetail").show();
        $("#pnlActionsValidate").hide();
      }));
    }

    @*$.ajax({
      type: 'Post',
      data: jQuery.param({ idCampaign: idCampaign }),
      url: '@Url.Action("ValidateCampaign")',
      dataType: 'json',
      success: function (response) {
        if (response.success) {
          setTimeout(function () {
            $('#loadingCampaignValidateModal').modal('hide');
            $("#pnlCampaignModalSuccesMsg").hide();
            $("#pnlCampaignModalErrorMsg").hide();
            $("#pnlActionsDetail").show();
            $("#pnlActionsValidate").hide();
          }, 3000);

        } else {
          setTimeout(function () {
            $("#pnlCampaignModalSuccesMsg").hide();
            $("#pnlCampaignModalErrorMsg").show();
            $("#pnlActionsDetail").show();
            $("#pnlActionsValidate").hide();
            $('#loadingCampaignModal').modal('hide');
          }, 3000);

        }
      },
      error: function (ex) {
        alert('Failed to approved campaign.');
      }
    });*@
  });
</script>
<script type="text/javascript">
  $('#formRejectCampaign').submit(function (e) {
    e.preventDefault();
    $.ajax({
      url: this.action,
      type: this.method,
      cache: false,
      contentType: false,
      processData: false,
      success: function (response) {
        if (response.success) {
          $('#lblBody').append(response.message);
          $('#modalReject').modal('show')
        } else {
          $('#lblBody').append(response.error);
          $('#modalReject').modal('show')
        }
      },
      error: function (xhr, error, status) {
        $('#lblBody').append('Error');
        $('#modalReject').modal('show')
      }
    });
  });
</script>
<script>
  function goBack() {
    window.history.back();
  }
</script>
<script>
  $("#btnSendMessage").click(function () {
    $('#btnSendMessage').attr('href', function () {
      var replace = getUrlVars(this.href)["message"];
      return this.href.replace(replace, $('#ChatMessage').val());
    });
  });

  function getUrlVars(data) {
    var vars = {};
    var parts = data.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
      vars[key] = value;
    });
    return vars;
  }
</script>
